#header {
  background:#81A6C6;
  border-radius:20px;
  text-align:center;
  margin:auto;
  width:90%;
  margin-bottom:3%
}
body {
  background:#daebf2
}
#nav {
  background:#AACDDC;
  position:relative;
  top:10px;
  width:40%;
  margin:auto;
  border-radius:20px;
  display:flex;
  gap:5% 5%;
}
button {
  position: relative;
  background-color: #99becf;
  cursor: pointer;
  padding: 3% 6%;
  margin:auto;
  border: none;
  margin-top:1%;
  margin-bottom:1%;
  border-radius:10px
  }
button:hover {
  transition-duration:0.3s;
  background:#8eb0bf;
}

#content{
  background:#c1e5f5;
  text-align:center;
  border-radius:20px;
  padding-left:5%;
  padding: 1% 5% 7% 5%
  
  
}

#header {
    font-family: "Iosevka Charon Mono", monospace;
  font-weight: 400;
}
button {
    font-family: "Iosevka Charon Mono", monospace;
  font-weight: 400;
}
#content {
    font-family: "Iosevka Charon Mono", monospace;
  font-weight: 400;
}
img {
  width:20%;
  border-radius:10px
}
#footer {
  background:#5c9599;
  border-radius:10px;
  font-size:8px;
  padding-bottom:5%
}
.port {
  background:#a8cfe0;
  padding:1%;
  width:30%;
  margin:auto;
  border-radius:10px;
}